<div class="feed-wrapper" *ngIf="posts else feedLoading">
   <div class="feed-posts" *ngFor="let post of posts">
        <div class="post-account">
            {{[post.userAccountName]}}
        </div>
        <div class="post-image" *ngIf="post.imageURL">
            <img [src]="post.imageURL">
        </div>
        <div class="post-caption" *ngIf="post.caption">
            <span class="post-caption-span">
                {{post.caption}}
            </span>
        </div>
   </div>
   <div class="feed-create-post">
        <button mat-fab class="feed-create-button button-icon" color="accent" matTooltip="Create a post" matTooltipPosition="above" (click)="openAddPostDialog()">
            <mat-icon>add</mat-icon>
        </button>
   </div>
</div>

<ng-template #feedLoading>
    <div class="feed-loading">
        <app-spinner [componentName]="'Feed'"></app-spinner>
    </div>
</ng-template>

<ng-template #addPost>
    <div>

        <input type="file" (change)="uploadImage($event)">
    </div>
</ng-template>
