<div class="feed-wrapper" *ngIf="posts else feedLoading">
    <div class="feed-post-container">
        <div class="feed-posts" *ngFor="let post of posts">
             <app-posts-cards [post]="post"></app-posts-cards>
        </div>
    </div>
   <div class="feed-create-post">
        <button mat-fab class="feed-create-button button-icon" color="accent" matTooltip="Create a post" matTooltipPosition="above" (click)="openAddPostDialog()">
            <mat-icon>add</mat-icon>
        </button>
   </div>
</div>

<ng-template #feedLoading>
    <div class="feed-loading">
        <app-spinner [componentName]="'Feed'"></app-spinner>
    </div>
</ng-template>

