.profile-loading{
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-wrapper{
    height:100%;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    display:flex;
    flex-direction: column;
}

.profile-account-info{

    width:100%;


    .profile-info-forms{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        mat-form-field{
            flex: 1 0 35%;
            margin: 2%;
        }
    }
}

