.search-wrapper{
    width: 80%;
    height:100%;
    margin: 0 auto;
}

.search-bar{
    width:100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
    mat-form-field{
        width: 40%;
        color:white;

        ::ng-deep .mat-form-field-flex{
            background-color: rgba(0,0,0, .30);
        }

    }
}

.searches{
    width: 80%;
    margin: 0 auto;

    .search-list{
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        margin-top: 15px;
        padding-bottom: 20px;
        
        .search-list-item{
            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 15px;
            position: relative;

            .track-img{
                height:100%;
                aspect-ratio: 1 / 1;
                margin-left:10px;
                img{
                    height: 100%;
                    aspect-ratio: 1 /1;
                }
            }
            
            .track-texts{
                display: flex;
                flex-direction: column;

                .track-name{
                    font-size:15px;
                    font-weight: 600;
                }

                .track-artists{
                    font-size: 12px;
                    display:flex;
                    align-items: center;
                    gap: 5px;
                }

                .track-artists > .artist:not(:last-child):after{
                    content: ',';
                }
            }
            .track-add-queue{
                margin-left: auto;
                z-index: 3;
            }

            .track-duration{
                font-size: 12px;
                margin-right:0;
                font-weight: 500;
                
            }


            .track-overlay{
                position:absolute;
                height: 100%;
                width:100%;
                background-color: white;
                display: block;
                transition: .5s ease;
                opacity: 0;
                padding: 5px;
                border-radius: 10px;
            }
        }

        .search-list-item:hover{
            cursor: pointer; 
        
            .track-overlay{
                opacity: .10;
            }

            .track-name{
                text-decoration: underline;
            }
        }
    }
}

.queue-button{
    visibility: hidden;
}

.search-list-item:hover .queue-button{
    visibility: visible;
}

.cannot-search-wrapper{
    height:100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    .text{
        font-weight: 600;
        font-size: 40px;
        width:50%;

        span{
            display:flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    .buttons{
        button{
            font-weight: 600;
        }
    }
}

:host-context(.mobile){
    .search-wrapper{
        height:100%;
        width: 70%;
        min-height: calc(100vh - 70px);
        padding-top: 70px;

        .loading{
            position: relative;
            top: 30vh;
        }
    }

    .search-bar{
        width: 100%;

        mat-form-field{
            width: 100%;
        }
    }

    .searches{
        margin: 0;
        width: 100%;

        .search-list{
            .search-list-item{

                gap: 8px;
                
                .track-img{
                    margin-left:0;
                }

                .track-texts{
                    .track-name{
                        font-size:12px;
                        font-weight: 600;
                    }
                
                    .track-artists{
                        font-size: 8px;
                        display:flex;
                        align-items: center;
                        gap: 5px;
                    }

                }
            }
        }
    }


}