.wrapper{
    height: 75vh;
    aspect-ratio: 1 / 1;
}

.header{
    height: 10%;
    background-color: pink;
}

.image{
    height: 60%;
    background-color: green;
    
    .image-upload{
        height:100%;
        background-color:purple;
        display: flex;
        align-content: center;
        justify-content: center;
        img{
            max-height: 100%;
            max-width: 100%;
        }
    }
}

.caption{
    height: 20%;
    background-color: aqua;
}

.buttons{
    height: 10%;
    background-color: red;
}