.wrapper{
    height: 75vh;
    aspect-ratio: 1 / 1;
}

.header{
    height: 10%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.image{
    height: 60%;    
    .image-upload{
        height:99%;
        display: flex;
        align-content: center;
        justify-content: center;
        .image-preview{
            height:100%;
            width:100%;
            display:flex;
            flex-direction: column;

            button{
                color:white;
                margin-left: auto;
                margin-right: 0;
            }

            img{
                margin: 0 auto;
                max-height: 85%;
                max-width: 100%;
            }
        }

        .image-upload{
            border: 2px dashed white;
            border-radius: 25px;
            height:90%;
            width:100%;
            margin: auto;
            cursor: pointer;
            
            .image-upload-text{
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 50px;

                mat-icon{
                    transform: scale(7);
                    margin-top:40%;
                    color:white;
                }

                p{
                    color:white;
                    font-size: 25px;
                }
            }
        }
    }
}

.caption{
    height: 20%;
    background-color: aqua;
}

.buttons{
    height: 10%;
    background-color: red;
}