<div class="navbar-wrapper">
    <div class="navbar-icon">
        <img class="icon" src="assets/icons/broadcast_logo.png">
    </div>
    <div class="navbar-pages">
        <button mat-button routerLink="feed" [ngClass]=" activeIndex === 0 ? 'active' : ''" (click)="setActiveTab(0)">Feed</button>
        <button mat-button routerLink="search" [ngClass]=" activeIndex === 1 ? 'active' : ''" (click)="setActiveTab(1)">Search</button>
        <button mat-button routerLink="profile" [ngClass]=" activeIndex === 2 ? 'active' : ''" (click)="setActiveTab(2)">My Profile</button>
    </div>
    <div class="navbar-account" [routerLink]="'profile'">
        <img *ngIf="currentUser" [src]="currentUser.imageURL">
    </div>
</div>

