<div class="navbar-wrapper">
    <div class="navbar-icon">
        <img class="icon" src="assets/icons/broadcast_logo.png">
    </div>
    <div class="navbar-pages" *ngIf="currentUser">
        <button mat-button routerLink="feed" [ngClass]=" activeIndex === 0 ? 'active' : ''" (click)="setActiveTab(0)">Feed</button>
        <button mat-button routerLink="search" [ngClass]=" activeIndex === 1 ? 'active' : ''" (click)="setActiveTab(1)">Search</button>
    </div>
    <div class="navbar-account" *ngIf="currentUser" [routerLink]="['/profile', currentUser.accountName]" [state]="{account: currentUser}">
        <img [src]="currentUser.imageURL">
    </div>
</div>

