<div class="navbar-wrapper">
    <div class="navbar-icon">
        <img class="icon" src="assets/icons/broadcast_logo.png">
    </div>
    <div class="navbar-pages" *ngIf="currentUser">
        <button mat-button routerLink="feed" [ngClass]=" activeIndex === 0 ? 'active' : ''" (click)="setActiveTab(0)">Feed</button>
        <button mat-button routerLink="search" [ngClass]=" activeIndex === 1 ? 'active' : ''" (click)="setActiveTab(1)">Search</button>
    </div>
    <div class="navbar-account" *ngIf="currentUser" [matMenuTriggerFor]="menu">
        <img [src]="currentUser.imageURL">
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigateToProfile()">View Profile</button>
        <button mat-menu-item (click)="logoutUser()">Logout</button>
        <button mat-menu-item (click)="linkSpotify()">Link Spotify</button>
    </mat-menu>

</div>

