<div class="whole" *ngIf="currRoute !== '/login' else login">
  <div class="toolbar">
    <app-navbar></app-navbar>
  </div>
  <div class="content" [ngClass]="showFriends ? 'active' : ''">
    <router-outlet></router-outlet>
  </div>
  <div class="friends-tab" [ngClass]="showFriends ? 'active' : ''" *ngIf="isMobile">
    <button mat-icon-button (click)="toggleFriendsTab()">
       <mat-icon>{{showFriends ? "keyboard_arrow_right" : "people"}}</mat-icon>
    </button>
  </div>
  <div class="side" [ngClass]="showFriends ? 'active' : ''">
    <app-friends></app-friends>
  </div>
  <div class="player">
    <app-music-player></app-music-player>
  </div>
</div>
<ng-template #login>
  <div class="login-screen">
    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>
