.wrapper{
    border-radius: 15px;
    background-color: rgba(20,20,20,.95);
    padding:10px;
    padding-right: 0;
    color:white;
    transition: 1s ease;
    display:flex;
    align-items: center;
    height:100%;
}


.hider{
    width: 35px;
    height: 100%;
    position: absolute;
    top:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s ease;
    border-radius: 0 15px 15px 0;
}

.hider:hover{
    background-color: rgba(60,60,60,.5);
}

.player-info{
    opacity: 1;
    width: calc(100% - 40px);
    transition: 1s ease;

    .player-stuff{
        display:flex;
        align-items: center;
        padding-bottom: 10px;
        .track-info{
            height: 60px;
            display: flex;
            align-items: center;
            gap: 15px;
            .track-img{
                height:100%;
                aspect-ratio: 1 / 1;
                img{
                    height: 100%;
                    aspect-ratio: 1 /1;
                }
            }
            .track-texts{
                display: flex;
                flex-direction: column;
    
                .track-name{
                    font-size:15px;
                    font-weight: 600;
                }
    
                .track-artists{
                    font-size: 12px;
                    display:flex;
                    align-items: center;
                    gap: 5px;
                }
    
                .track-artists > .artist:not(:last-child):after{
                    content: ',';
                }
            }
        }
    
        .buttons{
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
            .shuffle-repeat, .playback-controls {
                display:flex;
                align-items: center;
                justify-content: space-between;
            }
    
            .shuffle-repeat{
                button{
                    mat-icon{
                        transform: scale(.75);
                    }
                }
            }
        }
    }
    
    
    .progress-bar{
        
        border-radius: 10px;
        opacity: 1;
        
        ::ng-deep .mat-progress-bar-buffer{
            background:#5f5f5f;
            border-radius: 10px;
        }
        
        ::ng-deep .mat-progress-bar-background{
            display:none;
        }
        
        ::ng-deep .mat-progress-bar{
            border-radius: 10px;
        }
        
        
        ::ng-deep .mat-progress-bar-fill .mat-progress-bar-fill::after{
            background-color: white;
            border-radius: 10px;
        }
        
    }
}


.off{
    color: rgba(255,255,255, .25)
}

.hide{
    transform: translateX(calc(-50vw - 215px));
}

.hide-player-things{
    opacity: 0;
}


