<div class='wrapper'>
    <div class="header">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <span>Friend Requests</span>
    </div>
    <mat-list>
        <mat-list-item *ngFor="let req of requestsAccount">
            <img [src]="req.imageURL">
            <span >{{req.accountName}}</span>
            <mat-button-toggle-group name="request-options">
                <mat-button-toggle (change)="acceptFriendRequest(req)"><mat-icon style="color:green">check</mat-icon></mat-button-toggle>
                <mat-button-toggle><mat-icon style="color:red">close</mat-icon></mat-button-toggle>
            </mat-button-toggle-group>
        </mat-list-item>

    </mat-list>
</div>