<div class="friends-wrapper" *ngIf="friendsLoaded else friendsLoadingSpinner">
    <div class="friends-search" *ngIf="friendsList.length > 0">
        <mat-form-field class="friends-list-search" color="accent">
            <mat-label style="color:white">Search friends list</mat-label>
            <input matInput type="text" >
        </mat-form-field>
    </div>
    <mat-list role="list" *ngIf="friendsList.length > 0 else allAlone">
        <mat-list-item role="listitem"></mat-list-item>
    </mat-list>
</div>
<ng-template #friendsLoadingSpinner>
    <app-spinner [componentName]="'Friends'"></app-spinner>
</ng-template>

<ng-template #allAlone>
    <div class="friends-nah" (click)="openAddFriendDialog()">
        <div class="friends-icon">
            <mat-icon>person_add</mat-icon>
        </div>
        <div class="friends-text">
            <span class="text">Sorry, you have no friends.</span>
            <span class="text">Add some friends today!</span>
        </div>
    </div>
</ng-template>  

