.friends-wrapper{
    height: 100%;
    width:100%;
    overflow: hidden;
    margin: 0;
}

.friends-nah{
    height: 100%;
    width:100%;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    .friends-icon{
        height: fit-content;
        aspect-ratio: 1 / 1;
        display:flex;
    align-items: center;
    justify-content: center;
        mat-icon{
            transform: scale(3);
            color: white
        }
    }

    .friends-text{
        padding-top: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        color: white;
    }
}

.friends-search{
    width:80%;
    margin: 0 auto;
    margin-top: 10px;


    .friends-list-search{
        width: 100%;
        padding: 0;

        ::ng-deep .mat-form-field-flex{
            background-color: rgba(77,77,77, 50);
            border-radius: 20px;
            padding: 0 20px 0 20px;
        }

        ::ng-deep .mat-form-field-underline{
            display:none;
        }
        
        ::ng-deep .mat-form-field-infix{
            border-top: 0 solid transparent;
        }
    }
}

.friends-managing{
    width:80%;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -10px;

    button {
        color:white;
    }

    .friends-requests{

        mat-icon{
            transform: scale(1.1);
        }
    }
}

.friends-yay{
    width: 90%;
    margin: 0 auto;

    mat-list{
        display: flex;
        flex-direction: column;
        width:100%;
    }

    .friends-list{
        display: flex;
        align-items: center;
        width:100%;
        gap: 10px;
        cursor: pointer;

        ::ng-deep .mat-list-item-content{
            width: 100%;
            gap: 10px;
        }
        

        img{
            height: 40px;
            aspect-ratio: 1 / 1;
            border-radius: 25px;
        }

        .friends-playing{

            margin-left: auto;
            z-index: 3;
            .currently-listening{
                width: 100%;
                overflow: hidden;
                .currently-listening-info{
                    width: fit-content;
                    display:flex;
                    gap: 5px;
                    img{
                        height: 20px;
                    }
                    .currently-listening-text{
                        width: 100px;
                        display:flex;
                        flex-direction: column;
                        overflow:hidden;

                        span{
                            width: fit-content;
                            font-size: 9px;
                            white-space: nowrap;
                            animation: friends-slider 10s linear infinite;

                            .currently-listening-artist:not(:last-child)::after{
                                content: ', ';
                            }
                        }
                    }
                }
            }
        }

        span{
            color:white;
            font-size: 20px;
            font-weight: 600;
        }

        button{
            color:white;
            border-color: white;
            margin-right:0;
            margin-left: auto;
        }
    }

    .friends{
        cursor: pointer;

        .image{
            img{
                height: 40px;
                aspect-ratio: 1 / 1;
                border-radius: 25px;
            }

            div{
                background-color: #545454;
                height: 12px;
                aspect-ratio:  1 / 1;
                border-radius: 12px;
                position: relative;
                top: -15px;
            }
            .online{
                background-color: #30ff7b;
            }
            
            .away{
                background-color: #ffda7d;
            }
        }

    }
}


:host-context(.mobile){
    .friends-list{
        span{
            font-size: 13px;
            max-width: 80px;
        }
    }
}

@keyframes friends-slider{
    0%{
        transform: translateX(0);

    }
    50%{
        transform: translateX(0);
 
     } 
     90%{
        transform: translateX(min(0%, calc(-100% + 100px)));
     }
     100%{
        transform: translateX(min(0%, calc(-100% + 100px)));
     }
 }