<div style="
height: 35vw; 
aspect-ratio: 3 / 4; 
display:grid;
grid-template-rows: 7% 84% 7%;
gap:10px;
">
    <form color="accent" style="width:100%" autocomplete="off">
        <mat-form-field style="width:100%" >
            <mat-label style="color:white">Search for friend</mat-label>
            <input matInput type="text" id="add-friends-search-input" (input)="searchList()">
        </mat-form-field>
    </form>
    <mat-list style="
        overflow: auto;
    ">
        <mat-list-item *ngFor="let user of filteredList" style="
            width: 100%;
            color:white;
            ">
            <div style="display:flex; align-items:center;">
                <img [src]="user.imageURL ?? 'https://firebasestorage.googleapis.com/v0/b/broadcast-seniorcapstone.appspot.com/o/default.jpeg?alt=media&token=1996ce6b-dee6-4cd4-b743-5ee4fe9b1a4c'" style="
                    width: 30px;
                    height:30px;
                    border-radius: 20px;
                    margin-right: 10px;
                " >
                <span style="
                    font-size: 20px;
                    font-weight: 600;
                ">
                    {{user.accountName}}
                </span>
            </div>
            <button mat-icon-button type="button" (click)="addFriend(user)" style="
                margin-left: auto;
            ">
                <mat-icon>add</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
    <button mat-raised-button mat-dialog-close style="width:100%;">Close</button>
</div>

<ng-template #sendRequestSuccess>
        <span>Successfully send friend request</span>
</ng-template>
<ng-template #sendRequestFail>
    <span>Successfully send friend request</span>
</ng-template>
